<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://yourdomain/BBNLIPTV"
        version="1.0.0"
        viewmodes="maximized">
    
    <!-- Samsung TV profile -->
    <tizen:profile name="tv-samsung"/>
    
    <!-- Application identity -->
    <tizen:application
        id="ph3Ha7N8EQ.BBNLIPTV"
        package="ph3Ha7N8EQ"
        required_version="6.0"/>
    
    <content src="login.html"/>
    <name>BBNL IPTV</name>
    <icon src="icon.png"/>
    
    <!-- ============================================ -->
    <!-- ACCESS ORIGINS (Allow external resources) -->
    <!-- ============================================ -->
    <access origin="http://124.40.244.211" subdomains="true"/>
    <access origin="https://netmontest.bbnl.in" subdomains="true"/>
    <!-- Stream domains - both HTTP and HTTPS -->
    <access origin="http://livestream.bbnl.in" subdomains="true"/>
    <access origin="https://livestream.bbnl.in" subdomains="true"/>
    <access origin="http://livestream2.bbnl.in" subdomains="true"/>
    <access origin="https://livestream2.bbnl.in" subdomains="true"/>
    <!-- Samsung HTTP/1.1 compatible server -->
    <access origin="http://livestream3.bbnl.in" subdomains="true"/>
    <access origin="https://livestream3.bbnl.in" subdomains="true"/>
    
    <!-- ============================================ -->
    <!-- NETWORK PRIVILEGES (CRITICAL FOR STREAMING) -->
    <!-- ============================================ -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/network.get"/>
    <tizen:privilege name="http://tizen.org/privilege/network.post"/>
    <tizen:privilege name="http://tizen.org/privilege/download"/>
    
    <!-- CRITICAL: Required for HTTPS streaming and external network access -->
    <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
    
    <!-- ============================================ -->
    <!-- MEDIA & AUDIO PRIVILEGES (CRITICAL FOR AVPLAY) -->
    <!-- ============================================ -->
    <!-- MOST IMPORTANT: AVPlay privilege for video playback -->
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
    
    <!-- Audio control -->
    <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
    <tizen:privilege name="http://tizen.org/privilege/volume.set"/>
    
    <!-- FTA/DVB Channel Access (for broadcast TV tuner) -->
    <tizen:privilege name="http://tizen.org/privilege/tv.channel"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.window"/>
    
    <!-- Media capture (optional, for future features) -->
    <tizen:privilege name="http://tizen.org/privilege/mediacapture"/>
    
    <!-- ============================================ -->
    <!-- DEVICE INFO & PRODUCT PRIVILEGES -->
    <!-- ============================================ -->
    <!-- Get device model, firmware, DUID -->
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    
    <!-- System info for IPv6 and network details -->
    <tizen:privilege name="http://tizen.org/privilege/systeminfo"/>
    
    <!-- Remote control input -->
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    
    <!-- ============================================ -->
    <!-- SYSTEM PRIVILEGES -->
    <!-- ============================================ -->
    <!-- For accessing device MAC/IP address -->
    <tizen:privilege name="http://tizen.org/privilege/system"/>
    
    <!-- Application settings -->
    <tizen:setting
        screen-orientation="landscape"
        background-support="disable"
        hwkey-event="enable"/>
</widget>
